@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.no-pad {
  padding: 0px;
}

// Index Page
.jumbotron {
  background-image: asset-url('rubytraining.jpg');
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}

.btn-signup {
  background-color: #000;
}

footer {
  margin-top: 50px;
}

// Detail about each article template
.article-description {
  border-bottom: 1px solid #eaeaea;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 4px;
}
