<div class="container">
  <footer class="footer">
    <small>
    Copyright &copy; <a href="enter in a link here">Alpha Blog</a>
    by <a href="enter in a link here">Duc Tuan Ngo</a>
    </small>
  </footer>
</div>